/* MainFontBold */
@font-face {
  font-family: MainFontBold;
  src: url("../static/fonts/MainFontBold.ttf");
}
/* MainFontMedium */
@font-face {
  font-family: MainFontMedium;
  src: url("../static/fonts/MainFontMedium.ttf");
}
/* MainFontSemibold */
@font-face {
  font-family: MainFontSemibold;
  src: url("../static/fonts/MainFontSemibold.ttf");
}
/* MainFontText */
@font-face {
  font-family: MainFontText;
  src: url("../static/fonts/MainFontText.ttf");
}
/* MainFontThin */
@font-face {
  font-family: MainFontThin;
  src: url("../static/fonts/MainFontThin.ttf");
}
/* MainFontUltralight */
@font-face {
  font-family: MainFontUltralight;
  src: url("../static/fonts/MainFontUltralight.ttf");
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: MainFontText;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: MainFontUltralight;
}

html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
//======FOOTER====
$innerContainerWidth: 94.29%;
$headerBackground: rgba(0, 0, 0, 0.96);
$innerContainerMarginLeftOrRight: (100 - $innerContainerWidth) / 2;
$Gray: #323232;
$Green: #418e7f;
$Black: #000000;
$TabColor: #F5F5F5;
$smokingwhite:#f7f7f7;

main {
  .mainIn {
    width: $innerContainerWidth;
    display: block;
    margin: 0 auto;
  }
}

footer {
  border-top: 1px solid #e6e6e6;
  margin-top: 13px;

  .footerIn {
    width: $innerContainerWidth;
    height: 25px;
    display: block;
    margin: 0 auto;
  }
}
//====================

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

header {
  background: $headerBackground;

  .headerIn {
    color: #fff;
    width: $innerContainerWidth;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    * {
      display: flex;
    }
  }
}

.logo {
  justify-content: flex-end;
}

.hamburger_logo {
  width: 20% !important;
  height: 50px;

  img {
    margin-bottom: 7px;
  }
}

.navigation {
  width: 35%;
  justify-content: space-around;
}

.select_value {
  align-items: center;

  select {
    font-size: 1.5em;
    margin-left: 5px;
    height: 30px;
  }
}

#mainselection select {
  border: 0;
  color: #EEE;
  background: inherit;
  font-size: 2em;
  font-weight: bold;
  padding: 2px 10px;
  width: 100px;
  *width: 100px;
  *background-color: green;
  -webkit-appearance: none;
}

#mainselection {
  height: 30px;
  overflow: hidden;
  width: 100px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 1px 1px 11px green;
  background: green url("../static/images/select_arrow.png") no-repeat scroll 59px center;
}

.search {
  align-items: center;
  position: relative;
  color: #aaa;

  img {
    height: 20px;
    position: absolute;
    top: 5px;
    left: 10px;
  }

  input {
    width: 250px;
    height: 32px;
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
    text-indent: 32px;
    font-size: 18px;
  }
}

.hambruger_pick,
.tour_pick {
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
  background-color: green;
  height: 40px;
  width: 180px;

  img {
    width: 30px;
  }

  p {
    color: white;
    font-size: 16px;
  }
}
@media screen and (max-width: 1600px) {
  .navbar {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 1400px) {
  .navbar {
    font-size: 0.6em;
  }

  .navigation {
    width: 500px;
  }

  .search {
    display: none;
  }
}

header {
  background-color: $Gray;
}

.titleSection {
  display: flex;
  justify-content: start;
  align-items: center;
}
//maps

.map {
  border: 2px solid $Gray;
  width: 300px;
  height: 300px;
}

.map_content h3 {
  margin-bottom: 6px;
}

.weather_content {
  margin-top: 30px;
}

.weather_content h3 {
  margin-bottom: 6px;
}
//ImageGallery

.image-gallery {
  width: 100% !important;
}

.image_gallery {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
}

.image-gallery-thumbnail {
  width: 20% !important;
}
//info tour

.info_description {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;

  .infos-icon {
    margin-right: 2px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h3 {
    color: $Green;

    span {
      color: $Black;
    }
  }
}
//Tabs

.tabs_content {
  display: flex;
  justify-content: space-between;
}

.react-tabs {
  outline: none;
  text-align: center;
  width: 50%;

  display: flex;
  flex-direction: column;
  background-color: $TabColor;
  color: $Black;

  &__tab-list {
    margin: 0;
    padding: 0;

    background-color: white;
  }

  &__tab {
    height: 100%;
    outline: none;
    width: 50%;
    display: inline-block;
    border-bottom: none;
    position: relative;
    list-style: none;
    cursor: pointer;
    background-color: white;
    color: $Black;

    &--selected {
      outline: none;
      background-color: $TabColor;
      color: $Black;
    }

    &--disabled {
      color: $Black;
      outline: none;
      cursor: default;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        outline: none;
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }
  }
}

.bokmark {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 1em;
  margin-top: 15px;
  width: 35%;
  height: 50px;
  background-color: $Gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 25px 25px 0;

  a {
    align-items: center;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    border-radius: 0 30px 30px 0;
    border-right: 2px solid #696969;
  }
}

.active {
  text-align: center;
}

.bokmark_select {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bokmark_home {
  width: 20% !important;
  background-color: $Gray;
}
//tour list

.main_tour_pick {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
  }

  .last_tour-pick {
    margin: 0;
  }

  div {
    margin-right: 20px;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
//for mobile device
//700px
@media screen and (max-width: 700px) {
  .info-panel {
    display: none;
  }

  .react-tabs {
    width: 100%;

  }

  .titleSection {
    font-size: 0.8em;
  }

  .bokmark {
    width: 50%;
    font-size: 0.8em;
  }

  .info_description {
    font-size: 0.6em;
  }

  .toor_lst {
    h1 {
      font-size: 1.6em;
    }
  }
}
//500px
@media screen and (max-width: 500px) {
  .titleSection {
    font-size: 0.7em;
  }
  .react-tabs {
    font-size: 0.9em

  }

  .bokmark {
    height: 40px;
    width: 50%;
    font-size: 0.6em;
    img{
      width: 20px;
    }
  }

  .info_description {
    font-size: 0.6em;
  }

  .toor_lst {
    h1 {
      font-size: 1.3em;
    }
  }

  .headerIn {
    .navigation {
      display: none;
    }

    .tour_pick {
      display: none;
    }
  }

  div.wrapper {
    display: block !important;
  }

  .logo {
    display: none !important;
  }
}
//300px
@media screen and (max-width: 300px) {
  .main-burger_menu {
    font-size: 0.8em !important;
  }
  .react-tabs {
    font-size: 0.7em
  }
  .hamburger_logo{
    width: 30px;
  }

  .bokmark {
    height: 40px;
    width: 60%;
    font-size: 0.5em;
    img{
      width: 18px;
    }
  }
}
//burger MENU

div.wrapper {
  display: none;
}

.wrapper {
  width: 100%;
  background-color: inherit;
  position: relative;
  color: inherit;
  text-align: center;
  height: 40px;

  label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 20px;
  }
}

.burger-line {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: white;
  transition: 0.5s all;
}

#check-menu {
  display: none;
}

#check-menu:checked ~ .main-burger_menu {
  max-height: 800px;
  font-size: 1em;
}

#check-menu:checked ~ .fi-burger {
  display: none;
}

#check-menu:checked ~ .se-burger {
  transform: rotate(45deg);
}

#check-menu:checked ~ .th-burger {
  transform: rotate(-45deg);
}

#check-menu:checked ~ .fo-burger {
  display: none;
}

.se-burger,
.th-burger {
  top: 18px;
}

.fo-burger {
  top: 28px;
}

.main-burger_menu {
  flex-direction: column;
  max-height: 0;
  font-size: 0;
  right: 0;
  overflow: hidden;
  display: block;
  position: absolute;
  width: 30%;
  bottom: 0;
  transform: translateY(100%);
  transition: 0.5s all;

  a {
    display: block;
    width: 100%;
    padding: 5px;
    color: white;
    background-color: $Gray;
    border-bottom: 1px solid $TabColor;
  }
}
//imagegallery
$ionicons-font-path: 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts' !default;
$ionicons-font-family: 'Ionicons' !default;
$ionicons-version: '2.0.0' !default;
$ionicons-prefix: ion- !default;
$ionicon-var-android-contract: '\f37d';
$ionicon-var-android-expand: '\f386';
$ionicon-var-ios-arrow-left: '\f3d2';
$ionicon-var-ios-arrow-right: '\f3d3';
$ionicon-var-ios-play: '\f488';
$ionicon-var-ios-pause: '\f478';
$ig-screen-sm-min: 768px !default;
$ig-screen-xsm-min: 480px !default;
$ig-white: #fff !default;
$ig-black: #000 !default;
$ig-blue: #337ab7 !default;
$ig-background-black: rgba(0, 0, 0, .4) !default;
$ig-transparent: rgba(0, 0, 0, 0) !default;
@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}
// Ionicons Font Path
// --------------------------
@font-face {
  font-family: $ionicons-font-family;
  src: url("#{$ionicons-font-path}/ionicons.eot?v=#{$ionicons-version}");
  src: url("#{$ionicons-font-path}/ionicons.eot?v=#{$ionicons-version}#iefix") format('embedded-opentype'), url("#{$ionicons-font-path}/ionicons.ttf?v=#{$ionicons-version}") format('truetype'), url("#{$ionicons-font-path}/ionicons.woff?v=#{$ionicons-version}") format('woff'), url("#{$ionicons-font-path}/ionicons.svg?v=#{$ionicons-version}#Ionicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

%ion {
  display: inline-block;
  font-family: $ionicons-font-family;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.image-gallery {
  @include vendor-prefix('user-select', none);
  -webkit-tap-highlight-color: $ig-transparent;

  &.fullscreen-modal {
    background: $ig-black;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5;

    .image-gallery-content {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.image-gallery-content {
  position: relative;
  line-height: 0;
  top: 0;

  &.fullscreen {
    background: $ig-black;

    .image-gallery-slide {
      background: $ig-black;
    }
  }
}

.image-gallery-slide-wrapper {
  position: relative;

  &.left,
  &.right {
    display: inline-block;
    width: calc(100% - 113px); // 100px + 8px for border + 5px for padding
    @media (max-width: $ig-screen-sm-min) {
      width: calc(100% - 84px); // 75px + 6px for border + 3px for padding
    }
  }

  &.image-gallery-rtl {
    direction: rtl;
  }
}

.image-gallery-fullscreen-button,
.image-gallery-left-nav,
.image-gallery-play-button,
.image-gallery-right-nav {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;

  &::before {
    @extend %ion;
    color: $ig-white;
    line-height: 0.7;
    text-shadow: 0 2px 2px lighten($ig-black, 10%);
    transition: color 0.2s ease-out;
  }

  &:hover::before {
    color: $ig-blue;
    @media (max-width: $ig-screen-sm-min) {
      color: $ig-white;
    }
  }
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  bottom: 0;

  &::before {
    font-size: 2.7em;
    padding: 15px 20px;
    text-shadow: 0 1px 1px lighten($ig-black, 10%);
    @media (max-width: $ig-screen-sm-min) {
      font-size: 2.4em;
    }
    @media (max-width: $ig-screen-xsm-min) {
      font-size: 2em;
    }
  }

  &:hover::before {
    color: $ig-white;
    transform: scale(1.1);
    @media (max-width: $ig-screen-sm-min) {
      transform: none;
    }
  }
}

.image-gallery-fullscreen-button {
  right: 0;

  &::before {
    content: $ionicon-var-android-expand;
  }

  &.active::before {
    content: $ionicon-var-android-contract;
  }

  &.active:hover::before {
    transform: scale(.9);
  }
}

.image-gallery-play-button {
  left: 0;

  &::before {
    content: $ionicon-var-ios-play;
  }

  &.active::before {
    content: $ionicon-var-ios-pause;
  }
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  color: $ig-white;
  font-size: 5em;
  padding: 50px 15px;
  top: 50%;
  transform: translateY(-50%);

  &[disabled] {
    cursor: disabled;
    opacity: 0.6;
    pointer-events: none;
  }
  @media (max-width: $ig-screen-sm-min) {
    font-size: 3.4em;
    padding: 20px 15px;
  }
  @media (max-width: $ig-screen-xsm-min) {
    font-size: 2.4em;
    padding: 0 15px;
  }
}

.image-gallery-left-nav {
  left: 0;

  &::before {
    content: $ionicon-var-ios-arrow-left;
  }
}

.image-gallery-right-nav {
  right: 0;

  &::before {
    content: $ionicon-var-ios-arrow-right;
  }
}

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.image-gallery-slide {
  background: $ig-white;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &.center {
    position: relative;
  }

  img {
    width: 100%;
  }

  .image-gallery-description {
    background: $ig-background-black;
    bottom: 70px;
    color: $ig-white;
    left: 0;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    white-space: normal;
    @media (max-width: $ig-screen-sm-min) {
      bottom: 45px;
      font-size: 0.8em;
      padding: 8px 15px;
    }
  }
}

.image-gallery-bullets {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 4;

  .image-gallery-bullets-container {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .image-gallery-bullet {
    appearance: none;
    background-color: transparent;
    border: 1px solid $ig-white;
    border-radius: 50%;
    box-shadow: 0 1px 0 lighten($ig-black, 10%);
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    outline: none;
    padding: 5px;
    @media (max-width: $ig-screen-sm-min) {
      margin: 0 3px;
      padding: 3px;
    }
    @media (max-width: $ig-screen-xsm-min) {
      padding: 2.7px;
    }

    &.active {
      background: $ig-white;
    }
  }
}

.image-gallery-thumbnails-wrapper {
  position: relative;

  &.thumbnails-wrapper-rtl {
    direction: rtl;
  }

  &.left,
  &.right {
    display: inline-block;
    vertical-align: top;
    width: 108px; // 100px + 8px for border
    @media (max-width: $ig-screen-sm-min) {
      width: 81px; // 75px + 6px for border
    }

    .image-gallery-thumbnails {
      height: 100%;
      width: 100%;
      left: 0;
      padding: 0;
      position: absolute;
      top: 0;

      .image-gallery-thumbnail {
        display: block;
        margin-right: 0;
        padding: 0;

        + .image-gallery-thumbnail {
          margin-left: 0;
        }
      }
    }
  }

  &.left {
    margin-right: 5px;
    @media (max-width: $ig-screen-sm-min) {
      margin-right: 3px;
    }
  }

  &.right {
    margin-left: 5px;
    @media (max-width: $ig-screen-sm-min) {
      margin-left: 3px;
    }
  }
}

.image-gallery-thumbnails {
  overflow: hidden;
  padding: 5px 0;
  @media (max-width: $ig-screen-sm-min) {
    padding: 3px 0;
  }

  .image-gallery-thumbnails-container {
    cursor: pointer;
    text-align: center;
    transition: transform 0.45s ease-out;
    white-space: nowrap;
  }
}

.image-gallery-thumbnail {
  display: inline-block;
  border: 4px solid transparent;
  transition: border 0.3s ease-out;
  width: 100px;
  @media (max-width: $ig-screen-sm-min) {
    border: 3px solid transparent;
    width: 75px;
  }

  + .image-gallery-thumbnail {
    margin-left: 2px;
  }

  .image-gallery-thumbnail-inner {
    position: relative;
  }

  img {
    vertical-align: middle;
    width: 100%;
  }

  &.active {
    border: 4px solid $ig-blue;
    @media (max-width: $ig-screen-sm-min) {
      border: 3px solid $ig-blue;
    }
  }
}

.image-gallery-thumbnail-label {
  box-sizing: border-box;
  color: white;
  font-size: 1em;
  left: 0;
  line-height: 1em;
  padding: 5%;
  position: absolute;
  top: 50%;
  text-shadow: 1px 1px 0 black;
  transform: translateY(-50%);
  white-space: normal;
  width: 100%;
  @media(max-width: $ig-screen-sm-min) {
    font-size: 0.8em;
    line-height: 0.8em;
  }
}

.image-gallery-index {
  background: $ig-background-black;
  color: $ig-white;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  @media(max-width: $ig-screen-sm-min) {
    font-size: 0.8em;
    padding: 5px 10px;
  }
}


//Trips main
.Trips{
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: repeat(auto-fill , minmax(300px, 1fr)) ;

  .gridBlockOfTrip{
    background-color: $smokingwhite;
    display: grid;
    img{
      width: 100%;
      padding-bottom: 5px;
    }
  }
}
.trips_info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  .location_trip{
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title_trip{
    font-size: 1em;
  }
}
.data_trip{
  display: flex;
  justify-content: space-between;
  *{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.derections_trip{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 10px;
}
